*{
    box-sizing: border-box;
    margin: 0;
    outline: 1px solid red;
}
#container{
    width: calc(100vw - 5%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: auto;

}

